catboost>=1.2.8,
faiss-cpu>=1.13.0,
fastapi>=0.121.3,
langchain-groq>=1.0.1,
numpy>=2.2.6,
onnxruntime>=1.23.2,
onnxruntime-tools>=1.7.0,
onnxscript>=0.5.6,
opencv-python>=4.11.0.86,
python-dotenv>=1.2.1,
python-multipart>=0.0.20,
uvicorn>=0.38.0,
transformers>=4.57.3,
pypdf2>=3.0.1,
aiosmtplib>=5.0.0,
bcrypt>=5.0.0,
motor>=3.7.1,
passlib>=1.7.4,
pyjwt>=2.8.0,
pydantic[email]>=2.12.4,
pymongo>=4.15.5,
python-jose[cryptography]>=3.5.0,
uvicorn>=0.38.0,
resend>=2.19.0