catboost>=1.2.8,
faiss-cpu>=1.13.0,
fastapi>=0.121.3,
langchain-groq>=1.0.1,
numpy>=2.2.6,
onnxruntime>=1.23.2,
opencv-python>=4.11.0.86,
python-dotenv>=1.2.1,
python-multipart>=0.0.20,
# sentence-transformers>=5.1.2,
uvicorn>=0.38.0,