@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
  font-size: 10px;
  color: #cbd5e1;
  /* slate-300 */
}

.slick-dots li.slick-active button:before {
  color: #334155;
  /* slate-700 */
}

.slick-prev:before,
.slick-next:before {
  font-size: 32px;
  color: #334155;
  opacity: 0.8;
}